.modal-header {
	background-color: #303030;
}
[data-toggle="collapse"]:after {
display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg) ;
  transition: all linear 0.25s;
  float: right;
  }   
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}


/* CARGA DE  LA PAGINA   */
.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: url('../img/loading .gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
    display: none;
}

  .row.equal {
    display: flex;
    flex-wrap: wrap;

  }
.col-md-4.btn-archivo{
display: flex;   
align-items: center;
flex-direction: row-reverse;
}  
 fieldset {
  background-color:#eee;

-moz-border-radius:8px; 
border-radius:8px;


}

